/env
__pycache__
.DS_Store
ipynb_checkpoints
acc_bot/po/ru/LC_MESSAGES/bot.mo
acc_bot/po/en/LC_MESSAGES/bot.mo
acc_bot/docs/build
acc_bot/docs/.DS_Store
Pipfile.lock
acc_bot/_build
.coverage
.doit.db
dist
acc_bot.egg-info
_build
htmlcov
acc_bot/ru
acc_bot/en
*.mo
*.pot
build